[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
langchain = "*"
python-dotenv = "*"
langchain-community = "*"
langchain-core = "*"
langchain-mongodb = "*"
langchain-openai = "*"
pymongo = "*"
pypdf = "*"
ipykernel = "*"
notebook = "*"
datasets = "*"
pandas = "*"
pillow = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
httpx = "*"
pytest-watch = "*"  # Optional: for auto-running tests
mypy = "*"  # Optional: for type checking
flake8 = "*"  # Optional: for code style checking

[requires]
python_version = "3.9"
